body {
  margin: 0;
  font-size: 20px;
  /*font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); for dynamic resizing of font*/
  font-family: "Roboto", "Arial", "sans-serif";
  text-decoration: none; 
}

a {
  text-decoration: none;
}

p, h1, h2, h3 {
  text-align: center;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  z-index: 1000;
  top: 0px;
  width: 100%;
}

ul.topnav li {float: right;}

ul.topnav li a {
  display: block;
  color: #FFF;
  text-align: center;
  padding: 8px 16px;
  font-size: 100%;
  text-decoration: none; 
  text-transform: uppercase;
  letter-spacing: 1.1
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
  text-decoration: none; 
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.grid {
  max-width: 900px !important;
}

.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)), url(images/bg.png) #333; 
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  line-height: calc(2em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

.hero-text h1 {
  font-family: "Roboto"; 
  font-size: 300%;
  font-weight: 400;
  margin-bottom: 1%;
}

.hero-text h2 {
  font-weight: 400;
  font-size: 200%;
  margin-top: 4%;
}

.circular {
  position: relative; 
  max-width: 15vw;
  height: 15vw; 
  overflow: hidden;
  border-radius: 50%;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.circular img {
  max-width: 100%;
  height: auto;
}

.heading {
  color: #333;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
}

.social {
  position: relative;
  height: 100px;
  padding-bottom: 140px;
  text-align: center;
}

.social a {
  color: #1E2B60;
  position: absolute;
  margin: 0px 2px;
  padding: 8px;
  border-radius: 6px;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-out;

  background-color: #FFF;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}

.social a:hover, .social a:hover div{
  background-color: #1E2B60;
  color: #FFF;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.social i {
  font-size: 60px;
}

.social div {
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
}

#portfolio .overlay-container {
  line-height: 0;
}

#portfolio.grid {
  max-width: 1100px !important;
}

#portfolio > h2{
  color: #333;
}

.overlay-container {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.overlay-container img {
  width: 450px;
  height: 300px;
  max-width: 100%;
  max-height: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1E2B60;
  z-index: 2;

  opacity:  0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.overlay:hover {
  opacity: 0.8;
}

.overlay i {
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 40px);
  font-size: 70px;
  color: white;
}

.modal-container {
  background-color: transparent !important;
  display: none;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  z-index: 3;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* black with opacity */
  z-index: -1; /* stack order */
}

.modal-link > h2 {
  color: #FFF;
}

.modal-content {
  position: relative;
  top: 100px;
  padding-bottom: 25px;
  background-color: white;
  border-radius: 4px

  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-content img {
  margin-bottom: 30px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

.modal-header {
  padding: 2px 16px;
  color: #333;
  text-align: center;
}

.modal-body {
  padding: 2px 16px;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}