body {
  margin: 0;
  font-size: 20;
  font-family: "Roboto";
  text-decoration: none; 
  font-color: white;
  background-image: url(/images/bg.jpg)
  background-size: contain;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: right;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  font-size: 45;
  text-decoration: none; 
  text-transform: uppercase;
  letter-spacing: 1.1
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
  text-decoration: none; 
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

